body {
  background-color: #fff;
  width: 100%;
  text-align: center;
  margin: auto;
  background-repeat: no-repeat;
  background-size: contain; 
  background-attachment: scroll;
  background-position: center top;
  /* 画像位置（中央、上部） */
}

ul{
  /* ブラウザのCSSで入っていたpaddingをリセット */
  padding: 0;
}

/* header */
.container{
  width: 100%;
  height: auto;
  background-color: #375B4B;
}

.title-block{
  text-align: left;
}

.sns,.hamburger{
  padding: 32px;
}

/* snsアイコン */
.sns li a img{
  width: 50%;
  }
  
  .sns ul{
    overflow: hidden;
    margin: 20px 0 10px 0;
    padding:0;
    line-height: 1.0;
  }
  
  .sns li,.sns a{
    display: block;
  }
  
  .sns li{ 
    float: left;
    width: 100px;
  }


/* h1,h2の装飾------------------- */
h1,h2{
  color:#000;
  padding: 0.5em;
  transform: skewX(-20deg);
}
/* webフォント */

h1,.button,#item{
  font-family: 'Kaisei Decol', serif;
}

.title_font a{
  font-family: 'Dancing Script', cursive;
  font-size: 100%;
  padding: 1em;
}

h2{
  color:#fff;
  font-size:large;
  background-color: #A28D73;
}
/* 画像表示*/
#photo {
  /* width: 100%; */
 
/* 画像サイズ 縦/横*100%でpadding-topを指定 */
  padding-top: 70%;
  margin: 0 auto;
  text-align: left;
  overflow: hidden;
  position: relative;
}

#photo img {
  top: 0;
  left: 0;
  position: absolute;
}

/* スクロールアニメーション*/

#photo{
  position:  relative; 
}

#scroll{
  position: absolute;
  height: 200px;
  text-align: center;
  z-index: 20;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-decoration: none;
  padding-top: 60px;
}

#scroll span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
#scroll span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* topへ戻るボタン*/
.button{
  position: fixed;
  right: 10%;
  bottom: 0;
  font-size: 20px;
  color: #fff;
  background: #A28D73;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: .3s;
  /* 画像より前に出す */
  z-index: 1;
  
  /*デフォルトで非表示にする*/
  opacity: 0;
  visibility: hidden;
}

/*このクラスが付与されると表示する*/
.active{
  opacity: 1;
  visibility: visible;
}
/* リストの点を消す */
#nav ul,#menuImage ul,.sns ul{
  list-style: none;
}

/* お知らせページ */
#strings,#access{
  width: 80%;
  margin:auto;
}
/* width 600px以上でに分割*/
@media (min-width: 600px) {
  #strings,#access {
    display: flex;
  }
  .string_1 {
    flex-grow: 1;
    padding: 1em;
    margin: 1em;
  }
  .string_2 {
    flex-grow: 1;
    padding: 1em;
    margin: 1em;
  }
}
div.left{
  text-align: left;
}

/* box */
.box{
  border: #000 1px;
}


#item{
  font-size: xx-large;
}

/* 画像を正方形にして並べる*/
#menuImage ul{
  margin: 3em;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
#menuImage li{
  position: relative;
  width: 25%;
}
#menuImage li:before{
  content: "";
  display: block;
  padding-top: 100%;
}
#menuImage img{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* margin: auto; */
  object-fit: cover;
}

/* 画像hover時に拡大*/
#menuImage li a img{
  transition:transform 0.5s ease-in;
}

#menuImage li a:hover img{
  transform:scale(1.2);
}

/* 箇条書きマークを■に変更 */
.access_li{
  margin: 0;
  padding: 0;
  list-style: square;
  display:inline-block;
}


a{
  text-decoration: none;
}

a:link{
  color: #fff;
}

a:hover{
  color:#A28D73
}

/* ドロワーナビゲーションの必須スタイル */

#nav {
  position: fixed;
  /* 枠外に消えるように-の値  */
  right: -298px;
  top: 0;
  width: 250px;
  height: 100%;
}

/* ドロワーが開かれたときのスタイル */

/* jQueryで使うクラス */

.show {
  transform: translate3d(-270px, 0, 0);
}

/* 開く・閉じるアニメーション */

#wrapper, #nav {
  transition: transform 0.3s;
}

/* ヘッダーにボタンを配置 */

header .container {
  display: flex;
  justify-content: space-between;
}

.title-block {
  flex: auto;
}

.hamburger {
  flex: 0 0 32px;
  /* align-self: center; */
  margin-left: 16px;
  text-align: center;
  color: #000;
}

/* 三本線をバツに*/

/* ハンバーガーメニューの外枠 */

div #line {
  position: relative;
  width: 100px;
  height: 100px;
  /* border: 10px solid #fff; */
  box-sizing: border-box;
}

/* 三本線のスタイルを決める */

/* #line span {
  display: block;
  width: 60px;
  height: 10px;
  background: #fff;
  position: absolute;
  left: 10px;
  transition: all 0.5s ease;
} */

/* 三本線のスタイルを決める */

#line span {
  display: block;
  width: 40px;
  height: 10px;
  background: #fff;
  position: absolute;
  left: 10px;
  transition: all 0.5s ease;
}

/* 線の縦位置の調整 */

.bar1 {
  top: 15.5px;
  background-color: #fff;
}

.bar2 {
  top: 35px;
  background-color: #fff;
}

.bar3 {
  bottom: 35.5px;
  background-color: #fff;
}

/* openはjQueryで使うクラス */

.bar1.open {
  top: 35px;
  transform: rotate(45deg);
}

/*
    ハンバーガーメニューがクリックされたら
    真ん中の線は透明化して見えないようにする
  */

.bar2.open {
  opacity: 0;
}

/*
    ハンバーガーメニューがクリックされたら
    下の線は真ん中に移動させて-45℃回転
  */

.bar3.open {
  top: 35px;
  transform: rotate(-45deg);
}

/* メニュー */

#nav {
  padding:24px 24px 0 24px;
  background: #A28D73;
  color: white;
}

#nav ul {
  margin: 0;
  padding: 0;
}

#nav li a {
  display: block;
  padding: 0.75rem 0;
  border-bottom: 1px solid #343557;
  text-decoration: none;
  color: #fff;
}

#nav li a:hover {
  background: #343557;
}

#nav .logo {
  margin-bottom: 20px;
}

footer{
  background-color:#375B4B;
  color: #fff;
  padding: 2em;
}
